checkpoints/*
dataset/mnist_color/data/*
dataset/face_point/data/*
dataset/reid/DukeMTMC-reID/*
key_point_tools/shape_predictor_68_face_landmarks.dat
*.pyc
.remote-sync.json
test_output/*
processdata/*
